.app {
	background: #f6f6f6;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.todo-list {
	display: flex;
	width: 400px;
	flex-direction: column;
	border-radius: 4px;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.todo-item {
	display: flex;
	justify-content: space-between;
	background: #fff;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 6px;
}
.todo-input {
	width: 400px;
	border-radius: 5px;
	font-size: 16px;
	padding: 20px;

	outline: none;
	border: none;
	background: #fff;
	font-size: 16px;
}
